language: node_js
node_js:
  - "12"
  
env:
  - GCC_VERSION="export CC=gcc-7 && export CXX=g++-7"
  #  - GCC_VERSION="export CC=gcc-6 && export CXX=g++-6"
  
os: 
  - linux
  - osx
  - windows
  
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7
      - libhdf5-dev
      - cmake
      
osx_image: xcode8

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then
      wget https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.10/hdf5-1.10.5/src/hdf5-1.10.5.tar.gz -O /tmp/hdf5-1.10.5.tar.gz;
      tar -zxvf /tmp/hdf5-1.10.5.tar.gz;
      cd `pwd`/hdf5-1.10.5;
      ./configure --prefix=`pwd`/dist --enable-shared=yes --enable-static=no --enable-parallel=no --enable-hl --enable-build-mode=production --without-szlib;
      make -j2 2>&1 &> hdf5_screen.txt;
      make install;
      cd ..;
      export HDF5_HOME_MAC=`pwd`/hdf5-1.10.5/dist;
    elif [[ "$TRAVIS_OS_NAME" == "windows" ]] ; then
      which cmake;
      cmake --version;
      wget -q https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.10/hdf5-1.10.5/src/hdf5-1.10.5.zip -O /tmp/hdf5-1.10.5.zip;
      unzip -q /tmp/hdf5-1.10.5.zip;
      cd hdf5-1.10.5;
      mkdir -p build;
      cd build;
      cmake -Wno-dev -DCMAKE_INSTALL_PREFIX=../dist -DCMAKE_BUILD_TYPE=RelWithDebInfo -DHDF5_BUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DHDF5_ENABLE_Z_LIB_SUPPORT=OFF  ..;
      which devenv.exe;
      devenv.exe //build;
      cd ../../;
      ls `pwd`/hdf5-1.10.5/dist;
      export HDF5_HOME_WIN=`pwd`/hdf5-1.10.5/dist;
    fi
  
install:
  - export HDF5_HOME_LINUX=/usr/lib/x86_64-linux-gnu/hdf5/serial
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then echo ${HDF5_HOME} ; else eval "${GCC_VERSION}" ; fi
  # ${CXX} --version
  - npm install --longlong_type=LONGLONG53BITS --hdf5_home_mac=${HDF5_HOME_MAC} --hdf5_home_linux=${HDF5_HOME_LINUX} --hdf5_home_win=${HDF5_HOME_WIN}

before-scripte:
  - export PATH=`pwd`/node_modules/.bin:${PATH}
  - export LD_LIBRARY_PATH=`pwd`/hdf5-1.10.2/dist/lib:${LD_LIBRARY_PATH}
  - export DYLD_LIBRARY_PATH=`pwd`/hdf5-1.10.2/dist/lib:${DYLD_LIBRARY_PATH}
  
script:
  - export PATH=`pwd`/node_modules/.bin:${PATH}
  - export LD_LIBRARY_PATH=`pwd`/hdf5-1.10.2/dist/lib:${LD_LIBRARY_PATH}
  - export DYLD_LIBRARY_PATH=`pwd`/hdf5-1.10.2/dist/lib:${DYLD_LIBRARY_PATH}
  - echo ${PATH}
  - ls `pwd`/node_modules/.bin
  - mocha --harmony --require should
