body,html{width:100%;height:100%;padding:0;margin:0;}
#main{
   background-color: white;
   float: right;
   position: absolute;
   height:100%;
   right: 0;
   left:200px;
   margin-top:10px;
    
}
#sidebar{
   background-color: white;
    
   margin-top:10px;
   width:200px;
   float: left;
   position: absolute;
   height:100%;
   overflow:auto;
}

#dragbar{
   background-color:lightblue;
   height:100%;
   float: right;
   width: 5px;
   cursor: col-resize;
   overflow:auto;
}
#ghostbar{
    width:3px;
    height:100%;
    overflow:auto;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}
