#editortextarea {
    width: 100%;
    height: 100%;
    min-height: 50px;
    font-family: monospace;
    font-size: 12px;
    color: #444;
    padding: 5px;
}
#editor {
       cursor: move;
    overflow-x:auto;
    height: 100%;
    border-style: dashed;
    border: 1px dashed lightskyblue;
    border-color: lightskyblue;
}

table {
    border-spacing: 5px;
    border: 1px solid lightskyblue;
    border-color: lightskyblue;
}

.jstree-node .ui-tooltip, .arrow:after {
    background: white;
    border: 2px solid lightskyblue;
  }
.jstree-node .ui-tooltip {
    padding: 10px 20px;
    background: white;
    color: blue;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px lightskyblue;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  
article.tabs
{
	position: relative;
	display: block;
	width: 95%;
	height: 95%;
}

article.tabs section
{
	position: absolute;
	display: block;
	top: 1.8em;
	left: 0;
	width: 100%;
	height: 95%;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	z-index: 0;
}

article.tabs section:first-child
{
	z-index: 1;
}

article.tabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(2) h2
{
	left: 132px;
}

    article.tabs section h2 a
{
	display: block;
	width: 100%;
	margin-top: -1.8em;
	height: 1.8em;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}

